:root {
  --background-color: #f4f4f9;
  --text-color: #333333;
  --container-background: #ffffff;
  --button-background: #007bff;
  --button-hover: #0056b3;
  --success-color: #28a745;
  --error-color: #dc3545;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  background: var(--container-background);
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
  transition: background-color 0.3s;
  position: relative;
}

h1 {
  margin-bottom: 20px;
  color: var(--text-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 95%;
}

button {
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: var(--button-background);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover);
}

.response {
  margin-top: 20px;
  font-size: 16px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.response p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  text-align: center;
}

.success-icon {
  color: var(--success-color);
  font-size: 20px;
}

.error-icon {
  color: var(--error-color);
  font-size: 20px;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--text-color);
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color 0.3s;
}

body.dark .theme-toggle {
  color: var(--success-color);
}

/* Dark theme */
body.dark {
  --background-color: #121212;
  --text-color: #ffffff;
  --container-background: #1e1e1e;
  --button-background: #1a73e8;
  --button-hover: #1358a5;
  --success-color: #4caf50;
  --error-color: #f44336;
}
